.gate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  img {
      width: 300px;
  }
}

.gate-pixel-wrap {
  position: relative;
  .gate-frog-eye {
    position: absolute;left: 0;top: 0;
    animation: eye-blink 2s linear 0s infinite;
  }

}